<!-- <div class="container">
  <h2>About Us</h2>
  <p>
    Welcome to our TV-selling TV-GUIDE website! We are passionate about bringing the latest and greatest televisions to your
    home. Our mission is to provide you with the best TV shopping experience possible.
  </p>

  <h3>Our Vision</h3>
  <p>
    At [TV-GUIDE], we believe that a great TV can transform your entertainment experience. Whether you're
    enjoying movies, sports, gaming, or simply catching up on your favorite shows, the right television can make a
    world of difference.
  </p>

  <h3>Why Choose Us</h3>
  <ul>
    <li>Wide Selection: We offer a diverse range of TVs, from budget-friendly options to cutting-edge models.</li>
    <li>Expert Advice: Our team of TV experts is here to help you find the perfect TV for your needs.</li>
    <li>Secure Shopping: We prioritize the security of your personal information during the online shopping process.</li>
    <li>Fast Delivery: We ensure your TV arrives safely and promptly at your doorstep.</li>
    <li>Customer Satisfaction: Your happiness is our success, and we're committed to your satisfaction.</li>
  </ul>

  <h3>Join Us</h3>
  <p>
    Explore our website and discover the latest TV technology. We look forward to serving you and making your
    television dreams come true.
  </p>
</div> -->
